/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* Navbar Section */

.navbar-custom {
    background-color: #0D3B66 !important;
    position: sticky;
    top: 0;
    z-index: 1000;
    /* Updated background color */
}

.navbar-custom .nav-item:hover {
    color: #F4F4F9 !important;
    font-weight: bold;
}

.navbar-custom .nav-link {
    color: #F4F4F9 !important;
    /* Updated nav link color */
}

.navbar-custom .nav-link.active {
    font-weight: bold;
    color: #F4F4F9 !important;
    /* Ensure active link matches the new color */
}

.navbar-toggler {
    color: #F4F4F9 !important;
    border-color: #F4F4F9 !important;
    /* Ensures the border matches the color */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(244, 244, 249, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-brand {
    font-family: 'Cabin', cursive;
    color: #F4F4F9;
    font-weight: 500;
    font-size: 2rem;
    /* Tamaño de fuente para el nombre del sitio */
}

/* Hero Section */

.carousel-item {
    /* Ajusta la altura del carrusel */
    background-size: cover;
    background-position: center;
}



.hero-section {
    position: relative;
    color: #F4F4F9;
    padding: 100px;
}

.text-overlay {
    background-color: rgba(255, 255, 255, 0.8);
    /* Fondo blanco semitransparente */
    padding: 20px;
    /* Espaciado alrededor del texto */
    display: inline-block;
    /* Ensures the background wraps tightly around the text */
    border-radius: 5px;
    /* Bordes redondeados opcionales */
}

h1 {
    font-family: 'Cabin', cursive;
    color: #0D3B66;
    font-weight: 700 !important;

}

h2 {
    font-family: 'Cabin', cursive;
    color: #0D3B66;
    font-weight: 500 !important;
    padding-bottom: 30px;

}

.hero-section p {
    font-family: 'Cabin', cursive;
    color: #3E3E3E;
    font-size: 1.25rem;
}


.hero-1 {
    background: url('../images/hero-airport.webp') no-repeat center center;
    background-size: cover;
    min-height: 500px;
}

.hero-2 {
    background: url('../images/hero-port.webp') no-repeat center center;
    background-size: cover;
    min-height: 500px;
}

.hero-3 {
    background: url('../images/hero-train.webp') no-repeat center center;
    background-size: cover;
    min-height: 500px;
}

.hero-about {
    background: url('../images/hero-about.webp') no-repeat center center;
    background-size: cover;
    min-height: 500px;
}

.hero-contact {
    background: url('../images/hero-contact.webp') no-repeat center center;
    background-size: cover;
    min-height: 500px;
}


.btn {
    background-color: #FFC857 !important;
    /* Set background color */
    color: #3E3E3E;
    /* Optional: Adjust text color for better contrast */
    border: none;
    /* Optional: Remove border if needed */
    font-weight: 600;
}
/* Card Section - Services*/

.card {
    border: none;
    /* Elimina el borde de la tarjeta */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Agrega una sombra suave */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Animación al pasar el mouse */
    margin-top: 10px;
    min-height: 304px
}

.card:hover {
    transform: translateY(-10px);
    /* Eleva la tarjeta al pasar el mouse */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    /* Aumenta la sombra */
}

.card-img-top {
    height: 200px;
    /* Ajusta la altura de la imagen */
    object-fit: contain;
    /* Asegura que la imagen se recorte correctamente */
}

.card-title {
    font-family: 'Cabin', cursive;
    font-weight: 400;
    color: #0D3B66;
}

.card-text {
    font-family: 'Cabin', cursive;
    color: #3E3E3E;
}

/* Expirience Section */

.experience-item i {
    color: #FFC857;
    /* Icon color */
    transition: transform 0.3s ease, color 0.3s ease;
    /* Smooth animation */
}

.experience-title {
    font-family: 'Cabin', cursive;
    font-weight: 400;
    color: #0D3B66;
}

.experience-text {
    font-family: 'Cabin', cursive;
    color: #3E3E3E;
}


/* Our Experience */

.carousel-item img.rounded-circle {
    border: 3px solid #FFC857;
    /* Add a border around the image */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow */
    object-fit: cover;
    /* Ensures the image covers the circular frame */
    width: 100px;
    /* Set the width of the image */
    height: 100px;
    /* Set the height of the image */
}

.carousel-item p {
    font-family: 'Cabin', sans-serif;
    color: #3E3E3E;
    font-size: 1.25rem;
    margin: 10px 0;
}

.carousel-item h5 {
    font-family: 'Cabin', cursive;
    color: #0D3B66;
    font-weight: 600;
}


/* Footer Section */

footer {
    background-color: #0D3B66;
    color: #F4F4F9;
    padding: 20px 0;
    text-align: center;
}

footer a {
    color: #F4F4F9;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Social Icons */

.social-icons a {
    font-size: 1.5rem;
    /* Adjust icon size */
    color: #F4F4F9;
    /* Icon color */
    transition: color 0.3s ease;
    /* Smooth hover effect */
}

.social-icons a:hover {
    color: #FFC857;
    /* Change color on hover */
}

/* form */

.lead {
    font-family: 'Cabin', cursive;
    color: #3E3E3E;
    font-size: 1.25rem;
}

.form-label {
    font-family: 'Cabin', cursive;
    color: #3E3E3E;
    font-weight: 600;
}

.section{
    padding-top: 6rem  !important;
}

/* Media queries */

/* Large devices (small laptops, 992px and up) */
@media screen and (max-width: 992px) {

    /* Make all service cards the same height for consistency */
    .hero-section {
        padding: 50px 0;
    }
}
